<?xml version="1.0"?>
<launch>
  <arg name="limited" default="false" doc="If true, limits joint range [-PI, PI] on all joints of UR5 (Note:Limited version is not available yet)" />
  
  <param unless="$(arg limited)" name="robot_description" command="$(find xacro)/xacro --inorder '$(find summer_description)/urdf/summer_hand_robot.urdf.xacro'" />
</launch>
